{% extends 'base/front_base.html' %}


{% block title %}
创业课堂
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %} ">
{% endblock head %}


{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <!-- 次级导航栏 -->
    <div class="course_nav">
        <!-- 导航栏中间的部分 -->
        <div class="nav_container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav_list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">创业知识</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">会员专区</a></li>
                <li><a href="#">我的课堂</a></li>
            </ul>
        </div>
    </div>
    <!-- 课程展示 -->
    <div class="wrapper">
        <ul class="course_list">
            <li>
                <a href="course_detail.html">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥0</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥1</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥2</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥3</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥4</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">创业CEO如何避免技术决策错误</p>
                        <p class="author">龚世海/HiCTO创始人兼CEO</p>
                        <p class="price_group">
                            <span class="pay"> ￥5</span>
                        </p>
                    </div>
                </a>
            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
{% endblock main %}

