<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 图标 -->
    <link rel="shortcut icon" href="../../f.png" />
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1332595_m4uef31fzhs.css">
    <title>首页</title>
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <!-- <script src="../../dist/js/course_index.min.js"></script> -->
</head>

<body>
    <!-- 最上边的页头 -->
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="../news/index.html">资讯</a></li>
                <li><a href="../course/course_index.html">创业课堂</a><i class="little-triangle"></i></li>
                <li><a href="../payinfo/payinfo_index.html">付费资讯</a><i class="little-triangle"></i></li>
                <li><a href="../search/search_index.html">搜索</a> </li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>&nbsp;/
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <!-- 中间的主体内容 -->
    <div class="main">
        <!-- 次级导航栏 -->
        <div class="course_nav">
            <!-- 导航栏中间的部分 -->
            <div class="nav_container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav_list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">创业知识</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">会员专区</a></li>
                    <li><a href="#">我的课堂</a></li>
                </ul>
            </div>
        </div>
        <!-- 课程展示 -->
        <div class="wrapper">
            <ul class="course_list">
                <li>
                    <a href="course_detail.html">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥0</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥1</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥2</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥3</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥4</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- 缩略图 -->
                        <div class="thumbnail_group">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small"
                                class="thumbnail">
                        </div>
                        <!-- 课程信息 -->
                        <div class="course_info">
                            <p class="title">创业CEO如何避免技术决策错误</p>
                            <p class="author">龚世海/HiCTO创始人兼CEO</p>
                            <p class="price_group">
                                <span class="pay"> ￥5</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li ></li>
                <li></li>
            </ul>
        </div>
    </div>
    <!-- footer底部信息 -->
    <div class="footer">

        <div class="top_group">

            <div class="left_group">
                <div class="title">
                    <p>合作伙伴</p>
                </div>
                <ul class="partner_group">
                    <li><img src="https://static-image.xfz.cn/1454046552_487.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454046135_474.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454046053_122.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454047318_361.png" alt=""> </li>
                </ul>
            </div>
            <div class="right_group">
                <div class="logo_group"></div>
                <div class="detail_group">
                    <ul class="links">
                        <li><a href="#">关于小饭桌&nbsp;</a></li>
                        <li><a href="#">&nbsp;|&nbsp;小饭桌创业课堂</a></li>
                        <li><a href="#">&nbsp;|&nbsp;凡创资本</a></li>
                        <li><a href="#">&nbsp;|&nbsp;凡卓资本</a></li>
                    </ul>
                    <div class="email">
                        <p>融资服务：bp@xfz.cn</p>
                        <p>商务合作：bd@xfz.cn</p>
                    </div>
                    <div class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</div>
                    <div class="focus_us">
                        <span class="us">关注我们:</span>
                        <div class="wx">
                            <span class="wx1_text">小饭桌</span>
                            <div class="wx1_qrcode"></div>
                        </div>
                        <div class="wx">
                            <span class="wx2_text">小饭桌创业课堂</span>
                            <div class="wx2_qrcode"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="bottom_group">
            <div class="inner_group">
                <p> ©2019 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</p>
            </div>
        </div>
    </div>
</body>

</html>