{% extends 'base/front_base.html' %}


{% block title %}
课程详情
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">
{% endblock head %}

{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <!-- 次级导航栏 -->
    <div class="course_nav">
        <!-- 导航栏中间的部分 -->
        <div class="nav_container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav_list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">创业知识</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">会员专区</a></li>
                <li><a href="#">我的课堂</a></li>
            </ul>
        </div>
    </div>
    <!-- 内容展示 -->
    <div class="wrapper">
        <!-- 课程展示 -->
        <div class="course_wrapper">
            <!-- 课程标题等 -->
            <div class="course_info">
                <p class="title">
                    创业CEO如何避免技术决策错误
                </p>
                <div class="share_group">
                    <span class="share">分享至：</span>
                    <a href="#" class=" weixin item_group"></a>
                    <a href="#" class="weibo item_group"></a>
                </div>
            </div>
            <!-- 课程视频介绍 -->
            <div class="voide_group">

            </div>
        </div>
        <!-- 中间主体下下面部分 -->
        <div class="bottom_wrapper">
            <!-- 课程详情页面展示 -->
            <div class="detail_wrapper">
                <div class="item_group">
                    <p class="item_title">
                        课程讲师
                    </p>
                    <div class="teacher_group">
                        <div class="avatar_group"><img src="{{course.teacher.avatar}}" class="avatar"></div>
                        <div class="teacher_info">
                            <p class="teacher_name">{{course.teacher.username}}</p>
                            <p class="desc">{{course.teacher.job_title}}</p>
                        </div>
                    </div>
                    <p class="item_content">{{course.teacher.profile}}</p>
                </div>
                <div class="item_group">
                    <p class="item_title">
                        课程简介
                    </p>
                    <p class="item_content">
                        {{course.profile|safe}}
                    </p>
                </div>
                <div class="item_group">
                    <p class="item_title">
                        帮助中心
                    </p>
                    <p class="item_content">
                        1. 购买后的课程在线可反复观看学习，视频有效期以具体课程信息为准。 <br>
                        2. 课程暂不支持下载观看，均为在线观看视频。 <br>
                        3. 课程一经购买，不可转让、不可退款；仅限购买账号观看。 <br>
                        4. 如有问题请咨询客服饭桌君： 电话：8208208820 微信：wo987871060 <br>
                    </p>
                </div>
                <div class="item_group">
                    <p class="item_title">
                        关于小饭桌创业课堂在线课堂
                    </p>
                    <p class="item_content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、技能进阶。小饭桌创业课堂在线课堂用知识陪伴创业者从平凡到卓越！
                    </p>
                </div>
            </div>
            <div class="recommend_wrapper">
                <p class="recommand_title">推荐课程</p>
                <ul class="course_list">
                    <li>
                        <a href="">
                            <div class="course_info_group">
                                <p class="course_title">教你制作抓住投资人眼球的商业计划书</p>
                                <p class="teacher">知了课题CEO</p>
                            </div>
                            <div class="thumbnail_group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small"
                                    class="thumbnail">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="course_info_group">
                                <p class="course_title">教你制作抓住投资人眼球的商业计划书</p>
                                <p class="teacher">知了课题CEO</p>
                            </div>
                            <div class="thumbnail_group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small"
                                    class="thumbnail">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <div class="course_info_group">
                                <p class="course_title">教你制作抓住投资人眼球的商业计划书</p>
                                <p class="teacher">知了课题CEO</p>
                            </div>
                            <div class="thumbnail_group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small"
                                    class="thumbnail">
                            </div>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <!-- 最下面的购买按钮横幅 -->
        <div class="buy_group">
            <p class="buy_title">创业CEO如何避免技术决策错误 <span>会员免费</span></p>
            <div class="pay_group">
                <p class="price free">￥{{course.price}}</p>
                <a href="#" class="pay_btn">
                    <p>免费购买</p>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock main %}