{% extends 'base/front_base.html' %}


{% block title %}
创业课堂
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %} ">
{% endblock head %}


{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <!-- 次级导航栏 -->
    <div class="course_nav">
        <!-- 导航栏中间的部分 -->
        <div class="nav_container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav_list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">创业知识</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">会员专区</a></li>
                <li><a href="#">我的课堂</a></li>
            </ul>
        </div>
    </div>
    <!-- 课程展示 -->
    <div class="wrapper">
        <ul class="course_list">
            {% for course in courses %}
            <li>
                <a href="{% url 'course:detail' course_id=course.pk %}">
                    <!-- 缩略图 -->
                    <div class="thumbnail_group">
                        <img src="{{course.cover_url}}" class="thumbnail">
                    </div>
                    <!-- 课程信息 -->
                    <div class="course_info">
                        <p class="title">{{course.title}}</p>
                        <p class="author">{{course.teacher.username}}/{{course.teacher.job_title}}</p>
                        {% if course.price > 0  %}
                        <p class="price_group">
                            <span class="pay"> ￥{{course.price}}</span>
                        </p>
                        {% else %}
                        <p class="price_group">
                            <span class="free"> 免费</span>
                        </p>
                        {% endif %}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock main %}