<!-- 右边 -->
<div class="sidebar-wrapper">
    <!-- 上面的标题 -->
    <div class="title_group">
        <span class="title">在线课堂</span>
        <a href="#" class="more">更多</a>
    </div>
    <!-- 广告位 -->
    <div class="advertise_group">
        <a href="#">
            <img src="https://static-fancube.xfz.cn/1564990010871/%E8%83%8C%E6%99%AF%E5%9B%BE.jpg-website.active.list"
                alt="ff">
        </a>
    </div>
    <!-- 平台关注 -->
    <div class="platform_group">
        <div class="title_group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus_group">
            <ul class="left_group">
                <li class="zhihu"><a href="#">小饭桌创业课堂</a></li>
                <li class="weibo"><a href="#">小饭桌创业课堂</a></li>
                <li class="toutiao"><a href="#">小饭桌创业课堂</a></li>
            </ul>
            <div class="right_group">
                <!-- 这里指定的是背景图片，而不是img标签 -->
                <p class="desc">小饭桌公众号</p>
            </div>
        </div>
    </div>
    <!-- 热门新闻 -->
    <div class="hot_news_group">
        <div class="title_group">
            <span class="title">热门推荐</span>
        </div>
        <ul class="hot_list_group">
            <li>
                <!-- 热门推荐左边标题展示 -->
                <div class="left_group">
                    <p class="title"><a href="#">首届产业智能升级大会广州闭幕 全场热议...</a></p>
                    <p class="more">
                        <span class="category"><a href="#">深度报道</a> </span>
                        <span class="pub_time">一小时前</span>
                    </p>
                </div>
                <!-- 右边图片展示 -->
                <div class="right_group">
                    <a href="#"><img src="https://static-image.xfz.cn/1564795992_944.png-website.news.list"
                            alt=""></a>
                </div>
            </li>
            <li>
                <!-- 热门推荐左边标题展示 -->
                <div class="left_group">
                    <p class="title"><a href="#">首届产业智能升级大会广州闭幕 全场热议...</a></p>
                    <p class="more">
                        <span class="category"><a href="#">深度报道</a> </span>
                        <span class="pub_time">一小时前</span>
                    </p>
                </div>
                <!-- 右边图片展示 -->
                <div class="right_group">
                    <a href="#"><img src="https://static-image.xfz.cn/1564795992_944.png-website.news.list"
                            alt=""></a>
                </div>
            </li>
        </ul>
    </div>
</div>