{% extends 'base/front_base.html' %}

{% block title %}
搜索
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/search/search_index.min.css' %}">
<script src="{% static 'js/index.min.js' %}"></script>
{% endblock head %}

{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <div class="wrapper">
        <div class="main_content_wrapper">
            <!-- 轮播组件，包含图、pageControl、arrow箭头 -->
            <div class="search_group" id="search_group">
                <div class="search_input">
                    <input type="text" placeholder="可输入新闻关键词、作者名字搜索">
                </div>
                <a href="">
                    <div class="search_btn">
                        搜索
                    </div>
                </a>
            </div>
            <!-- 新闻组 -->
            <div class="list_outer_group">
                <div class="group_type">热门推荐</div>
                <!-- 新闻简介 -->
                <ul class="list_inner_group">
                    <li>
                        <div class="thumbnail_group">
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1565060483_314.png-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news_group">
                            <p class="title">
                                <a href="news_detail.html">
                                    早报：国内首款5G手机今日开售；NASA协助马斯克开发太空技术；沃尔玛申请数字加密货币专利
                                </a>
                            </p>
                            <p class="desc">法拉第未来的FF 91现身洛杉矶引围观。</p>
                            <p class="more">
                                <span class="category">中兴5G手机</span>
                                <span class="pub_time">一小时前</span>
                                <span class="author">huixiong</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail_group">
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1565060483_314.png-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news_group">
                            <p class="title">
                                <a href="#">
                                    早报：国内首款5G手机今日开售；NASA协助马斯克开发太空技术；沃尔玛申请数字加密货币专利
                                </a>
                            </p>
                            <p class="desc">法拉第未来的FF 91现身洛杉矶引围观。</p>
                            <p class="more">
                                <span class="category">中兴5G手机</span>
                                <span class="pub_time">一小时前</span>
                                <span class="author">huixiong</span>
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        {% include 'common/siderbar.html' %}
    </div>
</div>
{% endblock main %}