$pageWidth: 1170px;
$navHeight: 65px;
$mainBoxWidth:795px;
$sideBarWidth:355px;

//中间横幅的长和宽
$bannerWidth: $mainBoxWidth;
$bannerHeigth: 202px;

//主题颜色
$themeColor:#e63929;
$mainFontColor:#212121;
$assistFontColor:#878787;
$baseColor:#f6766a;
$lineColor: #eee;

//course的共公属性
$courseNavHeight:54px;

//价钱颜色
$freeColor:#7ed321;
$payColor:#f76363;