@import "./constants.scss";


.header {
    background: #2d2d2d;
    width: 100%;
    height: $navHeight;
    overflow: hidden;
    position: fixed; //固定位置，配合position使用。
    top: 0;
    left: 0;
    opacity: 0.9; //透明度
    z-index: 1; //z-index定义了谁覆盖谁，数字大的覆盖数字小的。


    .container {
        width: $pageWidth;
        height: 100%;
        margin: 0 auto;

        .logo-box {
            width: 150px;
            height: 48px;
            background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat; //配置logo
            margin-top: 10px;
            float: left;

            a {
                display: block;
                width: 100%;
                height: 100%;
                justify-content: center;
            }
        }

        .nav {
            margin-left: $navHeight;
            float: left;
            font-size: 20px;

            .news {}

            li {
                margin-right: 42px;
                font-weight: lighter;
                line-height: $navHeight;
                height: $navHeight;
                float: left;
                box-sizing: border-box;
                width: 80px;


                a {
                    color: #fff;
                    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
                }

                &.active {
                    width: 80px;
                    border-bottom: 5px solid $themeColor;
                }

                // 小三角,还没有实现
                &.little-triangle {
                    display: block;
                    background-image: url("https://www.xfz.cn/static/build/images/activity-course-icon.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 10px;
                    height: 6px;
                    left: 228px;
                }
            }
        }

        .auth-box {
            float: right;
            line-height: $navHeight;
            margin-right: 20px;
            color: #fff;

            .iconfont {
                font-size: 20px;
            }

            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }
}