<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 图标 -->
    <link rel="shortcut icon" href="../../f.png" />
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1332595_m4uef31fzhs.css">
    <title>首页</title>
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>

</head>

<body>
    <!-- 最上边的页头 -->
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">资讯</a></li>
                <li><a href="#">创业课堂</a><i class="little-triangle"></i></li>
                <li><a href="#">企业服务</a><i class="little-triangle"></i></li>
                <li><a href="#">搜索</a> </li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>&nbsp;/
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <!-- 中间的主体内容 -->
    <div class="main">
        <div class="wrapper">
            <div class="news_wrapper">
                <div class="banner_gruop" id="banner_gruop">
                    <!-- 轮播 -->
                    <ul class="banner_ul" id="banner_ul">
                        <li><a href="#"><img src="../../src/img/banner1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../src/img/banner2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../src/img/banner3.jpg" alt=""></a></li>
                    </ul>
                    <!-- 左右箭头 -->
                    <span class="arrow left_arrow" id="left_arrow">‹</span>
                    <span class="arrow right_arrow" id="right_arrow">›</span>
                    <!-- 小圆点 -->
                    <div class="page_control_group">
                        <ul class="page_control" id="page_control">

                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右边 -->
            <div class="sidebar-wrapper"></div>
        </div>

    </div>

</body>

</html>