<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 图标 -->
    <link rel="shortcut icon" href="../../f.png" />
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1332595_m4uef31fzhs.css">
    <title>首页</title>
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>

<body>
    <!-- 最上边的页头 -->
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">资讯</a></li>
                <li><a href="#">创业课堂</a><i class="little-triangle"></i></li>
                <li><a href="#">企业服务</a><i class="little-triangle"></i></li>
                <li><a href="#">搜索</a> </li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>&nbsp;/
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <!-- 中间的主体内容 -->
    <div class="main">
        <div class="wrapper">
            <div class="news_wrapper">
                <!-- 轮播组件，包含图、pageControl、arrow箭头 -->
                <div class="banner_gruop" id="banner_gruop">
                    <!-- 轮播图 -->
                    <ul class="banner_ul" id="banner_ul">
                        <li><a href="#"><img src="../../src/img/banner1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../src/img/banner2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../src/img/banner3.jpg" alt=""></a></li>
                    </ul>
                    <!-- 左右箭头 -->
                    <span class="arrow left_arrow" id="left_arrow">‹</span>
                    <span class="arrow right_arrow" id="right_arrow">›</span>
                    <!-- 小圆点 -->
                    <div class="page_control_group">
                        <ul class="page_control" id="page_control">
                            <!-- 这里是pageControl，也就是小圆点，动态生成 -->
                        </ul>
                    </div>
                </div>
                <div class="list_outer_group">
                    <ul class="list_tab">
                        <li class="active"><a href="">最新资讯</a></li>
                        <li><a href="">新消费</a></li>
                        <li><a href="">金融科技</a></li>
                        <li><a href="">出行物流</a></li>
                    </ul>
                    <ul class="list_inner_group">
                        <li>
                            <div class="thumbnail_group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1565060483_314.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news_group">
                                <p class="title">
                                    <a href="#">
                                        早报：国内首款5G手机今日开售；NASA协助马斯克开发太空技术；沃尔玛申请数字加密货币专利
                                    </a>
                                </p>
                                <p class="desc">法拉第未来的FF 91现身洛杉矶引围观。</p>
                                <p class="more">
                                    <span class="category">中兴5G手机</span>
                                    <span class="pub_time">一小时前</span>
                                    <span class="author">huixiong</span>
                                </p>
                            </div>
                        </li>
                        <li>
                                <div class="thumbnail_group">
                                    <a href="#">
                                        <img src="https://static-image.xfz.cn/1565060483_314.png-website.news.list" alt="">
                                    </a>
                                </div>
                                <div class="news_group">
                                    <p class="title">
                                        <a href="#">
                                            早报：国内首款5G手机今日开售；NASA协助马斯克开发太空技术；沃尔玛申请数字加密货币专利
                                        </a>
                                    </p>
                                    <p class="desc">法拉第未来的FF 91现身洛杉矶引围观。</p>
                                    <p class="more">
                                        <span class="category">中兴5G手机</span>
                                        <span class="pub_time">一小时前</span>
                                        <span class="author">huixiong</span>
                                    </p>
                                </div>
                            </li>
                    </ul>
                </div>

            </div>
            <!-- 右边 -->
            <div class="sidebar-wrapper"></div>
        </div>

    </div>

</body>

</html>