{% extends 'base/front_base.html' %}
<!-- 使用自定义过滤器需要加载 -->
{% load news_filters  %}

{% block title %}
新闻详情
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
<script src="{% static 'js/template-web.js'%}"></script>
<script src="{% static 'js/index.min.js' %}"></script>
<script src="{% static 'js/news_detail.min.js' %}"></script>
<script id="comment-item" type="text/html">
    {% verbatim %}
    <li>
        <div class="comment_info">
            <img src="/static/img/avatar.jpg" alt="" class="avatar">
            <span class="author">{{comment.author.username}}</span>
            <span class="sub_time">{{comment.pub_time|timeSince}}</span>
        </div>
        <div class="comment_content">
            {{comment.content}}
        </div>
    </li>
    {% endverbatim %}
</script>
{% endblock %}


{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <div class="wrapper">
        <!-- 左边的内容 -->
        <div class="main_content_wrapper">
            <div class="news_wrapper">
                <h1 class="title">
                    {{news.title}}
                </h1>
                <div class="news_info">
                    <div class="info_group">
                        <span class="author">{{news.author.username}}</span>
                        <span class="pub_time">{{news.pub_time|time_since}}</span>
                        <span class="category">{{news.category.name}}</span>
                    </div>
                    <div class="share_group">
                        <span>分享至：</span>
                        <a class="weixin item_group"></a>
                        <a href="#" class="weibo item_group"></a>
                    </div>
                </div>
                <article class="article">
                    <!-- 表示文章内容是安全的，可以使用html语法解析他,django 内置过滤器 -->
                    {{news.content|safe}}
                </article>
            </div>
            <!-- 评论 -->
            <div class="comment_wrapper">
                <h3 class="title">
                    文章评论(0)
                </h3>
                {% if user.is_authenticated %}
                <textarea name="comment" class="comment_textarea logined_textarea" placeholder="评论千万条，友善第一条"></textarea>
                {% else %}
                <textarea name="comment" class="comment_textarea logined_textarea" placeholder="立即登录,参与评论"></textarea>
                {% endif %}
                <div class="submit_btn_group">
                    <!-- 绑定新闻的id -->
                    <button class="submit_btn" data-news-id="{{ news.pk }}">发表评论</button>
                </div>
            </div>
            <!-- 评论列表 -->
            <ul class="comment_list">
                <!-- 这个是在Comment模型中的news外键中添加了related_name='comments'，所以可以通过news的comments属性调用Comment模型 -->
                {% for comment in news.comments.all %}
                <li>
                    <div class="comment_info">
                        <img src='{% static  "img/avatar.jpg" %}' alt="" class="avatar">
                        <span class="author">{{comment.author.username}}</span>
                        <span class="sub_time">{{comment.pub_time|time_since}}</span>
                    </div>
                    <div class="comment_content">
                        {{comment.content}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'common/siderbar.html' %}
    </div>
</div>


{% endblock main %}