<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 图标 -->
    <link rel="shortcut icon" href="../../f.png" />
    <link rel="stylesheet" href="../../dist/css/news/news_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1332595_m4uef31fzhs.css">
    <title>首页</title>
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>

<body>
    <!-- 最上边的页头 -->
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="index.html">资讯</a></li>
                <li><a href="../course/course_index.html">创业课堂</a><i class="little-triangle"></i></li>
                <li><a href="../payinfo/payinfo_index.html">付费资讯</a><i class="little-triangle"></i></li>
                <li><a href="../search/search_index.html">搜索</a> </li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>&nbsp;/
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <!-- 中间的主体内容 -->
    <div class="main">
        <div class="wrapper">
            <!-- 左边的内容 -->
            <div class="main_content_wrapper">
                <div class="news_wrapper">
                    <h1 class="title">
                        早报：国内首款5G手机今日开售；NASA协助马斯克开发太空技术；沃尔玛申请数字加密货币专利
                    </h1>
                    <div class="news_info">
                        <div class="info_group">
                            <span class="author">huixiong</span>
                            <span class="pub_time">06/02</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share_group">
                            <span>分享至：</span>
                            <a class="weixin item_group"></a>
                            <a href="#" class="weibo item_group"></a>
                        </div>
                    </div>
                    <!-- 展示文章，我们不需要编辑样式，
                        传递过来的数据就是渲染好的 ,这里展示不好看，是因为缺少统一的js，后面自己写的时候就不会这样了-->
                    <article class="article">
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">各位桌友早上好，饭桌君早报速递~科技圈发生了哪些新鲜事儿，快来看看吧~</span></p>
                        <h2 style="text-align: center;"><span style="font-size: 16px;">热事件</span></h2>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">为给5G手机让路，4G手机集体降价清库存！</span>
                        </h3>
                        <p style="text-align: justify;"><span style="font-size: 16px;">8月11日消息，两款5G手机——中兴Axon 10
                                Pro和华为Mate 20
                                X（5G）将现货上市。从试商用到手机首发，5G手机时代宣告正式到来。为了给5G让路，多个手机品牌开始大幅下调4G手机售价，清理库存。据天猫平台统计显示，近期该平台上有超过30款4G手机启动降价。</span>
                        </p>
                        <h3 style="text-align: justify;"><span
                                style="font-size: 16px;">华为宣布P30系列降价：3688元起，加速抢夺苹果用户</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月11日消息，华为已经宣布对P30系列进行降价促销，其中P30降价300元，而P30
                                Pro降价500元，对于这个降价幅度来说，无疑会激增它的销量。对于此番P30系列的降价，产业链消息人士透露，这波儿降价主要是为即将到来的Mate
                                30系列让路，同时也能靠着降价再次提升该系列的销量，目前P30系列每月出货量至少在百万台以上。</span></p>
                        <p style="text-align: center;"><span style="font-size: 16px;"><img alt="1000 (14).jpg"
                                    src="https://static-image.xfz.cn/1565483987_457.jpg" title=""></span></p>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">百度回应阿波龙无人巴士项目中止报道：消息不实</span>
                        </h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日，针对百度阿波龙无人巴士项目主力人员已撤出，只保留简单维护，产品已停止推广的消息。百度方面回应称，消息不实。</span>
                        </p>
                        <h3 style="text-align: justify;"><span
                                style="font-size: 16px;">中国联通公布一大波儿将上市5G手机：售价或都在5000元以上</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日消息，为了给即将商用的5G网络做准备，中国联通已经提前公布了一大波儿即将上市的手机，而下个月（今年9月份）它们将集中上市，而这些手机的售价都不便宜，应该都在5000元以上。</span>
                        </p>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">中国民营可回收火箭完成“三连跳”，飞行高度300米</span>
                        </h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日10时35分，中国民营航天企业翎客航天在位于青海省茫崖市冷湖镇的火箭基地进行公里级可回收火箭RLV-T5第3次发射及回收试验，取得圆满成功。此次回收试验飞行时间50秒，目标高度300米，实际飞行高度300米。此前，翎客航天RLV-T5型可回收火箭曾在今年3月和4月先后两次进行低空回收飞行，飞行高度分别为20米和40米。&nbsp;</span>
                        </p>
                        <h2 style="text-align: center;"><span style="font-size: 16px;">大公司</span></h2>
                        <div class="news-detail-adv-spe"><a
                                href="https://www.xfz.cn/form/class?acid=EpSnFk2C5q&amp;intro=show&amp;adf=post.content"
                                target="_blank"><img src="https://static-image.xfz.cn/1565317285_126.jpg"></a></div>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">外媒：华为将投资8亿美元在巴西设立工厂</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日，据路透社报道，巴西圣保罗州长称，华为计划未来三年在当地投资8亿美元建设一座工厂。报道称，在美国打压下，华为正在加强在拉美的业务。上周五，在华为高管的陪同下，巴西圣保罗州长若昂.多利亚(Joao
                                Doria)在访华期间表示，该公司正加紧建设该工厂，以满足预期的需求。巴西定于2020年3月举行第一次5G频谱拍卖。</span></p>
                        <h3 style="text-align: justify;"><span
                                style="font-size: 16px;">外媒爆料三款新iPhone将改名：苹果不会降低新机定价换销量</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月11日消息，据美国媒体报道称，他们从苹果内部知情人士处获得的消息是，苹果将在今年9月10日举行新品发布会，而主角将会是新一代iPhone手机，今年新机也会是三款。最新的爆料中还透露，苹果今年要在新机命名上进行调整，比如iPhone
                                XS系列升级版由于加强了后置拍摄能力，所以命名上冠以Pro结尾。价格上产业链表示，今年在外界因素的影响下，新款iPhone的售价应该是会保持跟去年的一样。</span></p>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">三星手机中国市场调整：加速关闭工厂</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日消息，据产业链最新消息称，三星手机在中国市场策略正在积极调整，简单来说就是加速关闭相应的工厂，加大手机“贴牌”力度。产业链在最新的消息中提到，三星预计今年10月份关闭其在华的最后一家手机工厂，取而代之的调整是，向ODM（原始设计制造商）倾斜，不再坚持自己制造智能手机，即把智能手机的开发/生产，以及零部件的采购交由中国厂商负责，从而降低生产成本。</span>
                        </p>
                        <h2 style="text-align: center;"><span style="font-size: 16px;">大佬说</span></h2>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">荣耀赵明：传统电视厂商被带偏了，荣耀不靠广告赚钱</span>
                        </h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日消息，荣耀正式发布了搭载鸿蒙操作系统的首款设备“荣耀智慧屏”。赵明在稍后的媒体采访环节也表示，荣耀进入电视领域不是为了打价格战。“传统电视厂商目前发展方向可能已经带偏了行业发展方向，不是关注用户体验，而是将价格便宜作为最大卖点。”赵明表示，“荣耀要回到产业健康发展的路径。聚焦产品创新和用户创新的体验。”荣耀智慧屏没有广告是此次新品的一个重要亮点。</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 16px;"><img
                                    alt="f3fb6a4008c04d06b68bfa2605d20326.jpeg"
                                    src="https://static-image.xfz.cn/1565484039_81.jpeg" title=""></span></p>
                        <h2 style="text-align: center;"><span style="font-size: 16px;">“大”数据</span></h2>
                        <h3 style="text-align: justify;"><span
                                style="font-size: 16px;">台风登陆，泡面、矿泉水、自热小火锅、充电宝和胶带成淘宝热销</span></h3>
                        <p style="text-align: justify;"><span
                                style="font-size: 16px;">8月10日凌晨，强台风“利奇马”在浙江温岭一带登陆。数据显示，在8月7日台风预警发布后，淘宝上相关商品搜索量大幅上升。尤其是在8月8日，泡面、矿泉水乃至自热小火锅等生活用品的销量均较前日大涨一倍以上。此外，充电宝的销量涨超130%，淘宝上的胶带，在一天之内多卖600万米。有淘宝商家紧急上架“防台风胶带”。</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 16px;"><img alt="riunnxyeogs1pj0j.jpg"
                                    src="https://static-image.xfz.cn/1565484062_598.jpg" title=""></span></p>
                        <h2 style="text-align: center;"><span style="font-size: 16px;">硬科技</span></h2>
                        <h3 style="text-align: justify;"><span style="font-size: 16px;">AI学习了4.5万幅画之后 让你秒变梵高画作主角</span>
                        </h3>
                        <p style="text-align: justify;"><span style="font-size: 16px;">近日，研究人员推出了名为AI
                                Portraits的网站，借助人工智能（AI）技术，你可以上传自拍照，然后看着它变成你的经典肖像。几秒钟之内，你就能成为梵高、伦勃朗或提香画作中的主角。据了解，AI
                                Portraits利用AI的生成式对抗网络（generative adversarial network）进行艺术创作，并迅速走红。</span></p>
                        <p style="text-align: center;"><img alt="1227021c97d24c0f8ed7bc385f268325.jpeg"
                                src="https://static-image.xfz.cn/1565483665_268.jpeg" title=""></p>
                        <div class="news-detail-adv-spe"><a
                                href="https://mp.weixin.qq.com/s?__biz=MzA3OTMxMDUzOQ==&amp;mid=2653786451&amp;idx=1&amp;sn=caa91d3a414aafa7e149599e2e9eb8a5&amp;chksm=846c4af7b31bc3e1ba61a0c445b397bffcfd8b31aa02f0244f0e3d15b2bd183f16b0370ff2e4&amp;token=8320&amp;adf=post.bottom"
                                target="_blank"><img src="https://static-image.xfz.cn/1564551922_2.jpg"></a></div>
                    </article>
                </div>
                <!-- 评论 -->
                <div class="comment_wrapper">
                    <h3 class="title">
                        文章评论(0)
                    </h3>
                    <textarea name="textarea" class="comment_textarea logined_textarea"
                        placeholder="立即登录,参与评论"></textarea>
                    <div class="submit_btn_group">
                        <button class="submit_btn">发表评论</button>
                    </div>
                </div>
                <!-- 评论列表 -->
                <ul class="comment_list">
                    <li>
                        <div class="comment_info">
                            <img src="../../src/img/avatar.jpg" alt="" class="avatar">
                            <span class="author">灰熊</span>
                            <span class="sub_time">2年前</span>
                        </div>
                        <div class="comment_content">
                            这是太好玩啊~哈哈哈。
                        </div>
                    </li>
                    <li>
                        <div class="comment_info">
                            <img src="../../src/img/avatar.jpg" alt="" class="avatar">
                            <span class="author">灰熊</span>
                            <span class="sub_time">1年前</span>
                        </div>
                        <div class="comment_content">
                            也就一般好玩~哈哈哈。
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 右边 -->
            <div class="sidebar-wrapper">
                <!-- 上面的标题 -->
                <div class="title_group">
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                <!-- 广告位 -->
                <div class="advertise_group">
                    <a href="#">
                        <img src="https://static-fancube.xfz.cn/1564990010871/%E8%83%8C%E6%99%AF%E5%9B%BE.jpg-website.active.list"
                            alt="ff">
                    </a>
                </div>
                <!-- 平台关注 -->
                <div class="platform_group">
                    <div class="title_group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus_group">
                        <ul class="left_group">
                            <li class="zhihu"><a href="#">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="#">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="#">小饭桌创业课堂</a></li>
                        </ul>
                        <div class="right_group">
                            <!-- 这里指定的是背景图片，而不是img标签 -->
                            <p class="desc">小饭桌公众号</p>
                        </div>
                    </div>
                </div>
                <!-- 热门新闻 -->
                <div class="hot_news_group">
                    <div class="title_group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot_list_group">
                        <li>
                            <!-- 热门推荐左边标题展示 -->
                            <div class="left_group">
                                <p class="title"><a href="#">首届产业智能升级大会广州闭幕 全场热议...</a></p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a> </span>
                                    <span class="pub_time">一小时前</span>
                                </p>
                            </div>
                            <!-- 右边图片展示 -->
                            <div class="right_group">
                                <a href="#"><img src="https://static-image.xfz.cn/1564795992_944.png-website.news.list"
                                        alt=""></a>
                            </div>
                        </li>
                        <li>
                            <!-- 热门推荐左边标题展示 -->
                            <div class="left_group">
                                <p class="title"><a href="#">首届产业智能升级大会广州闭幕 全场热议...</a></p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a> </span>
                                    <span class="pub_time">一小时前</span>
                                </p>
                            </div>
                            <!-- 右边图片展示 -->
                            <div class="right_group">
                                <a href="#"><img src="https://static-image.xfz.cn/1564795992_944.png-website.news.list"
                                        alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- footer底部信息 -->
    <div class="footer">

        <div class="top_group">

            <div class="left_group">
                <div class="title">
                    <p>合作伙伴</p>
                </div>
                <ul class="partner_group">
                    <li><img src="https://static-image.xfz.cn/1454046552_487.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454046135_474.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454046053_122.png" alt=""> </li>
                    <li><img src="https://static-image.xfz.cn/1454047318_361.png" alt=""> </li>
                </ul>
            </div>
            <div class="right_group">
                <div class="logo_group"></div>
                <div class="detail_group">
                    <ul class="links">
                        <li><a href="#">关于小饭桌&nbsp;</a></li>
                        <li><a href="#">&nbsp;|&nbsp;小饭桌创业课堂</a></li>
                        <li><a href="#">&nbsp;|&nbsp;凡创资本</a></li>
                        <li><a href="#">&nbsp;|&nbsp;凡卓资本</a></li>
                    </ul>
                    <div class="email">
                        <p>融资服务：bp@xfz.cn</p>
                        <p>商务合作：bd@xfz.cn</p>
                    </div>
                    <div class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</div>
                    <div class="focus_us">
                        <span class="us">关注我们:</span>
                        <div class="wx">
                            <span class="wx1_text">小饭桌</span>
                            <div class="wx1_qrcode"></div>
                        </div>
                        <div class="wx">
                            <span class="wx2_text">小饭桌创业课堂</span>
                            <div class="wx2_qrcode"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="bottom_group">
            <div class="inner_group">
                <p> ©2019 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</p>
            </div>
        </div>
    </div>
</body>

</html>