{% extends 'base/front_base.html' %}
{% block title %}
付费咨询
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/payinfo/payinfo_index.min.css' %}">
{% endblock head %}

{% block main %}
<!-- 中间的主体内容 -->
<div class="main">
    <div class="wrapper">
        <div class="main_content_wrapper">
            <div class="venture_banner">
                <img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" class="venture_banner_img">
            </div>
            <ul class="venture_list">
                <li>
                    <a href="#">
                        <div class="venture_img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png">
                        </div>
                        <div class="venture_introduct">
                            <p class="venture_title">如何写一份好点商业计划书</p>
                            <p class="venture_word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture_price">¥8.8</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="venture_img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png">
                        </div>
                        <div class="venture_introduct">
                            <p class="venture_title">如何写一份好点商业计划书</p>
                            <p class="venture_word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture_price">¥8.8</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="venture_img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png">
                        </div>
                        <div class="venture_introduct">
                            <p class="venture_title">如何写一份好点商业计划书</p>
                            <p class="venture_word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture_price">¥8.8</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="venture_img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png">
                        </div>
                        <div class="venture_introduct">
                            <p class="venture_title">如何写一份好点商业计划书</p>
                            <p class="venture_word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture_price">¥8.8</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="venture_img">
                            <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png">
                        </div>
                        <div class="venture_introduct">
                            <p class="venture_title">如何写一份好点商业计划书</p>
                            <p class="venture_word">一份好的商业计划书，是创业成功的开始！</p>
                            <p class="venture_price">¥8.8</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 右边 -->
        {% include 'common/siderbar.html' %}
    </div>

</div>
{% endblock main %}