<style>
    .user-more-box {
        background: rgb(19, 3, 3);
        width: 140px;
        height: 90px;
        position: absolute;
        box-shadow: 0 3px 4px #ccc;
        border-radius: 5px;
        top: 65px;
        right: 50px;
        font-size: 14px;
        z-index: 2;
    }

    .triangle {
        border: solid transparent;
        border-width: 10px;
        border-bottom-color: rgb(250, 246, 246);
        display: block;
        width: 0;
        height: 0;
    }

    a {
        text-align: center;
        height: 30px;
        color: #6d85ac!important;
        display: block;
        line-height: 30px;
    }
</style>


<div class="user-more-box" id="logout">
    <i class="triangle"></i>
    <a href="#">系统管理</a>
    <a href="#">退出登录</a>
</div>